body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #073b4c;
}
/* toàn bộ thiệp */
.birthdayCard {
  position: relative;
  width: 250px;
  height: 350px;
  cursor: pointer;
  transform-style: preserve-3d;
  transform: perspective(2500px);
  transition: 1s;
}

.birthdayCard:hover {
  transform: perspective(2500px) rotate(5deg);
  box-shadow: inset 100px 20px 100px rgba(0, 0, 0, 0.2),
    0 10px 100px rgba(0, 0, 0, 0.5);
}

.birthdayCard:hover .cardFront {
  transform: rotateY(-160deg);
}

.birthdayCard:hover .happy {
  visibility: hidden;
}
/* mặt trước của thiệp */
.cardFront {
  background-image: url("nen-hoa-mai.png");
  background-size: 100%; /*250*350*/
  position: relative;
  background-color: #fff;
  width: 250px;
  height: 350px;
  overflow: hidden;
  transform-origin: left;
  box-shadow: inset 100px 20px 100px rgba(0, 0, 0, 0.2),
    30px 0 50px rgba(0, 0, 0, 0.4);
  transition: 0.6s;
}

.happy {
  margin-top: 20%;
  margin-left: 5%;
  margin-right: 5%;
  background-image: linear-gradient(120deg, #f4dd8e 0%, rgb(104, 244, 104) 100%);
  transition: 0.1s;
}
.out1 {
  text-align: left;
  padding-left: 10%;
  margin-bottom: 0%;
  font-family: Algerian;
  font-size: 130%;
  color: red;
}
.out2 {
  text-align: right;
  margin-top: 0%;
  padding-right: 10%;
  font-family: Algerian;
  font-size: 130%;
  color: red;
}
img {
  position: absolute;
  padding-left: 5%;
  size: 100%;
  margin-top: -10%;
}
/* mặt trong của thiệp */
.cardInside {
  position: absolute;
  background-image: url("nen-thiep.png");
  background-size: 103.2%;
  width: 250px;
  height: 350px;
  z-index: -1;
  left: 0;
  top: 0;
  box-shadow: inset 100px 20px 100px rgba(0, 0, 0, 0.2);
}

.back {
  margin-top: 15%;
  font-family: kristen ITC;
  font-size: 120%;
  margin-left: 5%;
  margin-bottom: 10%;
  line-height: normal;

}

.back-title {
  margin-bottom: -5%;
}

.out-back {
  color: gold;

  text-align: left;
  padding-left: 6%;
  margin-top: 0%;
  margin-bottom: 0%;
  font-size: 120%;
}
.message {
  text-align: center;
  color: rgb(121, 3, 3);
  font-size: 65%;
  font-style: italic ;
  background-color: rgb(243, 224, 162);
  margin-left: 15%;
  margin-right: 15%;
  padding-top: 1.5%;
  padding-bottom: 1.5%;
  border-radius: 20%;
}

.the-end {
  text-align: center;
  color: gold;
}